<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="Name" class="form-control" id="exampleInputName" placeholder="Name">
  </div>
    <div class="form-group">
    <label for="exampleInputName">Your message</label>
    <textarea rows="4" cols="50">Message
    </textarea> 
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
   </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>