<html>
<title>
</title>
<header> </header>
<body>
<p> <strong><a name"top">FREQUENTLY ASKED QUESTIONS</a></strong></p>
    <p><b>I want to start a new scheme but I&#39;m not part of a

group?</b></p><br>
     <div class="content"><p>Speak to your friends and neighbours to gauge whether there is

any interest in your area. You could put up a poster in your

local shop, library or community centre (we can support you

with this). Speak to us as we may be able to link you up with a

         group or people interested in composting.</p></div>
    <p><b>How does the scheme work?</b></p><br>
  <div class="content"><p>It is a closed scheme, open only to people from the local

community who have signed up and received some basic

training in composting. The scheme starts with two boxes; once

the first box is full, we lock it and let it do its magic and start

filling the second. All residents have contact details for the

scheme monitors meaning that any issues can be addressed

before they become problematic. All boxes are kept locked and

only used by dedicated scheme members</p></div>
    <p><b>Will it smell?</b></p><br>
     <div class="content"><p>Compost is essentially broken down food waste so yes there is

the potential for smell but with a well-managed scheme, with a

good balance of wet and dry contents, smells are kept to a

         minimum.</p></div>
    <p><b>Will it attract vermin &amp; flies?</b></p><br>
     <div class="content"><p>Tiny fruit flies are common in compost bins in the summer,

especially if you are adding a lot of fruit and vegetable peelings.

This can increase during the hotter months but can be

managed by adding dry materials (cardboard) to the boxes

which should be done by monitors and scheme members. This

is another great way of recycling cardboard! Turning the

compost so fruit and vegetables are buried will also help. Many

people ask about rats. Rats are attracted to cooked food. For

this reason we only accept raw fruit and vegetable waste, tea

bags and coffee grounds to the bins. No cooked food, meat,

         fish or dairy is to be put in.</p></div>
     <p><b>Do I have to be an expert?</b></p><br>
     <div class="content"><p>No! We will give you advice and information so you know what

         you are doing. You will learn more as you go along.</p></div>
<p><b>What happens to the compost once it&#39;s made and

how long does it take?</b></p><br>
     <div class="content"><p>The average box takes about 9-12 months to produce compost.

You are welcome to take some of the compost yourself or

share it with other scheme members. If there is spare compost

we work with many community gardens that are happy to take

         it.</p></div>
<p><b>Why don&#39;t the council collect food waste on

Brighton?</b></p><br>
     <div class="content"><p>The council says: &quot;We do not currently collect food waste

directly from households due to the different specialist

collection methods needed. Around 1/3 of housing in the city

are flats, and we would not be able to run a food waste

collection service from them due to the communal nature of

their collections.

When designing a sustainable cost-efficient service we need to

take into account participation rates, types of property, cost and

value for money, to ensure the service is suitable for the city.

Our projects team continue to explore options and funding.

Instead we offer subsidised compost bins to all residents to

encourage composting at home, including kitchen caddies

which allows residents to make use of their own compost and is

better for the environment. Visit our composting page for advice

on the best option for you and details of discounted

composters, food waste digesters and wormeries. Otherwise

food waste for the time being needs to be disposed of in

         general refuse&quot;.</p></div>
    <p><b>Do&#39;s and Dont&#39;s</b></p>
    <p>Do use this scheme – it will stop fruit and vegetable waste going to landfill

where it forms methane a powerful greenhouse gas and leachate a toxic

sludge – instead healthy soil will be made.</p>
    <li>Do put fruit and vegetable waste, tea bags, coffee grounds in your caddy</li>
    <li>Do put toilet rolls and other cardboard tubes and egg boxes in your

caddy (add lots of cardboard)</li>
    <li>You may find in helps to line your caddy with cardboard or newspaper –

that way when you empty it into the compost bin there is less mess.</li>
    <li>Do remember to lock the bin again afterwards</li>
    <li>Do ask if you aren’t sure about what can go into your compost bin –

email the Food Partnership or call 01273 431700 (Monday to Friday 9-5)</li>
    <p>If in doubt don’t put it in!</p>
    <p>Please remember:</p>
    <li>Don’t put in meat, pasta, bread, rice, dairy – it will attract vermin.</li>
    <li>Don’t put in any plastic, glass or metal</li>
    <li>Don’t put in cat litter, animal faeces.</li>
    <li>Don’t put in egg shells- they can attract vermin and do not compost very

well.</li>
</body>
</html>