<form>
    <div class="form-group">
    <label for="exampleInputName">Your name</label>
    <input type="name" class="form-control" id="exampleInputName" placeholder="Name">
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div><div class="form-group">
    <label for="exampleInputAddress">Address</label>
    <input type="address" class="form-control" id="exampleInputAddress" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="exampleInputCity">City</label>
    <input type="city" class="form-control" id="exampleInputCity" placeholder="City">
  </div>
    <div class="form-group">
    <label for="exampleInputPostcode">Postcode</label>
    <input type="name" class="form-control" id="exampleInputName" placeholder="Name">
  </div>
  
    <div class="form-group">
    <label for="exampleInputPhone">Phone</label>
    <input type="phone" class="form-control" id="exampleInputPhone" placeholder="Phone">
  </div>
    
  <div class="form-group">
   
    <p class="help-block">How did you hear about us</p>
  </div>
  <div class="checkbox">
    <label>
    <input type="checkbox"> Friends/neighbour<br>
    <input type="checkbox"> Saw a box<br>
        <input type="checkbox"> Website<br>
        <input type="checkbox"> Social media<br>
        <input type="checkbox"> Other<br>
    </label>
  </div>
    <button type="submit" class="btn btn-default">
    <a ui-sref="main" >Submit</a></button>
  <button type="login" class="btn btn-default">
      <a ui-sref="main.login" >Login</a></button>
</form>
