<html>
<title>
</title>
<header> </header>
<body>
<p> <strong><a name"top">About us</a></strong></p>
    <img src="/img/composting.jpg" alt="Composting" style="width:304px;height:228px;">
    <p><b>What is community composting?</b></p><br>
     <div class="content"><p>Community composting is where a central composting point is made available for local residents to use and compost their fruit and vegetable peelings. Schemes like these, being led by communities, not only help the environment but also have great social benefits, creating community cohesion by helping bring local residents together with other groups and community driven organisations. It also helps with the building blocks towards zero waste and low carbon communities.

Composting is the most natural way to deal with organic waste and can improve soil quality to help grow healthy plants. In the city centre many people do not have enough or any space to be able to compost and community composting can be the answer. Organic waste can make up to 30% of household waste and can produce strong green house gases, when disposed in a landfill.
</p></div>
    <p><b>Current schemes running in the city
</b></p><br>
  <div class="content"><p>Since August 2011 we have been working with lots of Community Associations, Friends of Groups, community gardening groups and The Brighton and Hove Food Partnership to set up community composting schemes. The schemes have been a great success and so far we have the following up and running:
</p>
    <li>St Peter’s Church</li>
    <li>Brighthelm Community center and Garden</li>
    <li>Dyke Road Park</li>
    <li>Wish Park</li>
    <li>Bevendean Community Garden</li>
      <p>(some schemes have been set up independently and have not been listed here)

All these scheme combined are helping over 600 households compost their vegetable peeling, fruits, tea bags, and coffee grounds, cardboard and shredded paper. In one full year, the citywide community composters could divert more than 50 tonnes of food waste from disposal (based on 15% of household waste is compostable). Which is the equivalent almost 4 double decker buses in weight!

We are still receiving lots of interest and have more being looked into as new schemes across the city.

The schemes are community led by local residents with support from the council and Brighton and Hove Food Partnership. The council and Brighton and Hove Food Partnership will be on hand for advice and support. Turning and removing the compost will be carried out by members of the composting group. Training is available on how to look after your bin. It’s an easy job and you get to know your neighbours as well.
      </p></div>
    <p><b><a ui-sref="main.home" > Here’s a map of the current schemes running in the city.</a> Some of these are private to the group who run the scheme but please contact the Brighton and Hove Food Partnership to find out if you can join a scheme.</b></p><br>
    <a ui-sref="main.subscribe" >Get involved</a>
     
</body>
</html>